<html>

<body>
    <h2>Counter</h2>
    
    <h3>
        <%= counter %>
    </h3>
    <button type="button" name="plusTwo" id="plusTwo" onClick="<% %>">Add Two</button>
    <button type="button" name="reset" id="reset">Reset</button>
    
</body>
