<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Player Name</th>
      <th>Preferred Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-striped">
    <tr *ngFor="let player of players$ | async | orderByName">
      <td scope="row">{{player.name}}</td>
      <td>{{player.preferredPosition}}</td>
      <td><button class="btn btn-danger" (click)="deletePlayer(player)">
          <span class="fa fa-trash-o fa-lg"> </span> DELETE
      </button></td>
    </tr>
  </tbody>
</table>
